@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/LevelMario.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'agbalumo', sans-serif;
}


.confirmation-container {
    max-width: 600px;
    margin: 50px auto;
    background: #5597F9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

a {
    color: white;
    text-decoration: none;
}