@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/LevelMario.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'agbalumo', sans-serif;
}

.headertitle {
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.dropdown-menu .dropdown-item {
    background-color: transparent;
}

.navbar-toggler-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg) 
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-nav a {
    background-color: transparent;
}

.registration {
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    transition: text-decoration 0.5s ease;
    font-size: 14px;

    &:hover {
        font-style: italic;
    }
}

.nav {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.captaintoad {
    height: 45px;
}

.dropdown-menu {
    background: none;
    background-color: #253B64 !important;
}

.card {
    float: none;
    border-radius: 15px;
}
.consoles {
    width: 40%;
}


/*Formulaire d'inscription  */

fieldset {
    color: white;
    justify-content: center;
    display: flex;
}

.form_container {
    text-align: center;
    max-width: 60%;
    width: 90%;
    border-radius: 10px;
}

.input_box {
    color: white;
    text-align: center;
    position: relative;
    margin-top: 35px;
    border-radius: 5px;
    width: 95%;
}

.input_box input {
    border: none;
    border-radius: 5px;
}

.input_box i {
    float: right;
    font-size: 18px;
    padding-left: 5px;
}

.input_box i.pw_hide {
    font-style: 16px;
    cursor: pointer;
}

.form_container button {
    background: none;
    margin-top: 10px;
    color: white;
    width: 25%;
    border-radius: 7px;
}

label {
    margin: 4px;
}

button {
    background: #5597F9;
}

@media screen and (max-width : 1000px) {
    .form_container {
        flex-direction: column;
        max-width: 80%;
    }

    .form_container .register_form {
        margin-bottom: 36px;
        height: 55px;
    }
}

/* Fin de formulaire d'inscription */

.linecard {
    border: 1px solid black;
    width: auto;
}

.btnstar {
    width: 10vh;
    transition: transform 450ms;

    &:hover {
        transform: scale(1.30);
    }
}

.tophead {
    float: right;
    text-decoration: none;
    transition: text-decoration 0.5s ease;

    &:hover {
        text-decoration: underline;
    }
}